#root {
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  height: 100vh;
}

.login_container {

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  border-radius: 2ch;


}

.register_container {

  background-color: #36393f;
  width: 25%;
  height: 75%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  border-radius: 2ch;


}

form {
  margin: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.heading1 {
  color: #b9bbbe;
}

input {
  padding: 10px;
  margin: 10px;
}

h1 {
  color: #b9bbbe;
}

label {
  color: #b9bbbe;
  display: inline;
}

#admincheckbox {
  padding: 1px;
}

